* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; /* espaçamento em volta zerando */
    padding: 0; /* resetando */
    box-sizing: border-box; /* Evita que os elementos aumente de tamanho inesperadamente facilitando o controle da responsividade */

}

.cabecalho {
    background-color: purple; /* Cor de fundo */
    color: white;
    padding: 1.5rem;/* poderia ser 24px */
    /* alinhamento dos itens*/
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;


    /*Header Fixo */
    position: sticky;
    left: 0;
    top: 0;
    z-index: 999; /* eixo-z - Profundidade do elemento */
}

.div-logo img {
    width: 20%; /*usando o % para diminuir seu tamanho */
}

/* estilização do botão header */
.div-button a button {
    width: 1rem; /* poderia ser 50px */
    padding: 0.5rem; /* 8px -preenchimento */
    background-color: antiquewhite; /* cor de fundo */
    border: none; /* remoção de bordas */
    font-weight: 800; /*espessura da font do botão */
    border-radius: 5px; /*arredondamento da borda */
}

.section-01 {
    padding: 9rem; /* preenchimento interno da section */
    background-image: url(roxo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.div01 {
    background-color: plum; /*cor de fundo */
    color: black; /*cor dos textos */
    text-align: center; /*Alinhamento centralizado dos textos  */
    font-size: 2rem;  /* tamanho da letra  dentro da caixa */
    padding: 1rem; /*preenchimento da caixa */
    width: 25%;/* largura de caixa caixa em porcentagem */
    height: 50rem;  /* altura da caixa utilizando o REM */
    min-width: 299px; /* Largura minima da caixa ela não ficará menor que 299px */
}

.div02 {
    padding: 1rem; /* preenchimento caixa */
    width: 25%; /* largura da caixa em porcentagem */
    height: 20rem; /* Altura da caixa utilizando o REM */
    min-width: 299px; /* Largura minima da caixa ela não ficará menor que 299px */
    background-image: url();
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Aqui estamos estilizando as listas */
.ul-div01 li a {
    text-decoration: none;
    background-color: black;
    color: aliceblue;
    padding: 4px;
    font-size: 1.3rem;
    border-radius: 5px; /* arredondamento da borda */
}

.ul-div01 li {
    margin: 10px 5px; /*alterando 4 lados externos dos elementos, primeiro valor (superior, inferior) e segundo valor (laterais esquerda e direita) */
}

.fa-phone,.fa-airplay-audio {
    color: aliceblue;
    font-size: 1.3rem;
}