*{
    margin: 0;
    padding: 0;
    box-shadow: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    height: 100vh; /*estamos dizendo ao body que queremos a altura completa (100vh)*/
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #171430, white);
}

.google-btn img {
    width: 20px;
}
    
.Container {
    background-color: white;
    padding: 2rem;
    border-radius: 15px;
    width: 100%;
    max-width: 400px; /*Define a largura máxima do container em 400px */
    box-shadow: 0 10px 25px black;
}

h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #171430;
}

.input-group {
margin-bottom: 1rem;
}

.input-group label{
    display: block; /*Mantendo o comportamento do elemento em bloco () */
    margin-bottom: 5px;
    color: grey;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none; /*Remove o contorno(borda extrema) do elemento */
    transition: 0.3s;
}

.input-group input:focus {
    border-color: #171430;
    box-shadow: 0 0 5px #555;
}

.links {
    display: flex;
    justify-content: space-between; 
    gap: 15px;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.links a {
    text-decoration: none;
    color: #171430;
}

.links a:hover {
    text-decoration: underline;
}

.btn{
    width: 100px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #171430;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: 0,3s;
}

.btn:hover {
    background-color: #bbb7e1;
    color: #171430;
}

.google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
   border: 1px solid #ccc;
   cursor: pointer;
   transition: 0.3s;
   background-color: white;
   margin-top: 1rem;
}

.google-btn:hover {
background-color: #f5f5f5;
}

@media (max-width: 480px) {
.Container {
    margin: 1rem;
    padding: 1.5rem;
}
}
